@charset "UTF-8";
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

body, input, select, textarea {
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.75em;
	background-color: #f3f6fa;
}

strong, b {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-weight: 300;
	line-height: 1.75em;
	margin-bottom: 1em;
	text-transform: uppercase;
	text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

h3 {
	font-size: 1.15em;
	text-align: left;
	margin-bottom: 0em;
	font-weight:400;
	margin-left: 22%;
}

h4 {
	text-align: left;
	margin-bottom: 0em;
	margin-left: 22%;
	width: 60%;
}

header.special {
	margin-bottom: 5em;
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 1em;
	position: relative;
	text-align: left;

}

header.special:before, header.special:after {
	border-bottom: solid 1px;
	content: '';
	height: 5px;
	position: absolute;
	top: 0.0em;
	width: 50%;
}

header.special:before {
	left: 25%;
}

header.special:after {
	right: 25%;
}

header.special h2 {
	margin-bottom: 0;
}

header.special h2 + p {
	margin-bottom: 0;
	padding-top: 0.5em;
}

header.special .icon {
	cursor: default;
	height: 7em;
	left: 0;
	position: absolute;
	text-align: center;
	top: 1em;
	width: 100%;
}

	header.special .icon:before {
		font-size: 3.5em;
		opacity: 0.35;
	}

#banner {
	background-color: #f3f6fa;
	color: white;
	cursor: default;
	padding: 1em 0;
	text-align: center;
}

#banner .inner {
	background: #f3f6fa;
	color: black;
	display: inline-block;
	text-align: center;
}

#banner .inner header {
	display: inline-block;
	border-bottom: solid 1px;
}

#banner .inner header h2 {
	border-top: solid 1px;
	font-size: 2.5em;
	margin: 0;
	position: relative;
	text-transform: uppercase;
}

#banner .inner p {
	text-transform: uppercase;
}

.icon {
	position: relative;
}

	.icon:before {
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
	}

	.icon.circle {
		border-radius: 100%;
		display: inline-block;
		font-size: 1.25em;
		left: -1em;
		line-height: 2.25em;
		text-align: center;
		text-decoration: none;
		top: 0;
		width: 2.25em;
	}

		.icon.circle.fa-twitter {
			color: black;

		}
			.icon.circle.fa-twitter:hover {
				background: black;
				color: white;
			}

		.icon.circle.fa-facebook {
			color: black;
		}
			.icon.circle.fa-facebook:hover {
				background: black;
				color: white;
			}

		.icon.circle.fa-github {
			color: black;
		}
			.icon.circle.fa-github:hover {
				background: black;
				color: white
			}

.icon > .label {
	display: none;
}

ul.icons li {
	display: inline-block;
	line-height: 1em;
	text-align: center;
}
